ion-view(view-title="Eventz")
    ion-content
        header
            h1 Talks
            p Selecione um evento para ver seus detalhes

        div.list
            talk-item(collection-repeat="talk in Talks.talks")
